{% extends 'base.html' %}
{% block content %}
    <main>
        <div>
            <h2>Log In</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Log In</button>
            </form>
        </div>
    </main>
{% endblock content %}