{% extends 'base.html' %}
{% block content%}
    <main>
        <div>
            <h1>My Tasks</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                {% for tasks in task_list %}
                    {{ request.assignee.task_set.all }}
                    <tbody>
                        <tr>
                            <td>{{tasks.name}}</td>
                            <td>{{tasks.start_date}}</td>
                            <td>{{tasks.due_date}}</td>
                            {% if tasks.is_completed is True %}
                                <td>Done</td>
                            {% elif tasks.is_completed is False %}
                                <td>
                                    <form method="post" action="{% url 'complete_task' tasks.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="is_completed" value="True">
                                        <button>Complete</button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                {% empty %}
                    <p>You have no tasks</p>
                {% endfor %}
            </tbody>
            <table>
            </div>
        </main>
{% endblock content %}