{% extends "base.html" %}
{% load markdownify %}
{% block content %}
    <main>
        <div>
            <h1>{{project.name}}</h1>
            <p>{{project.description|markdownify}}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a task</a>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for tasks in project.tasks.all %}
                            <td>{{ tasks.name }}</td>
                            <td>{{ tasks.assignee }}</td>
                            <td>{{ tasks.start_date }}</td>
                            <td>{{ tasks.due_date }}</td>
                            {% if tasks.is_completed is True %}
                                <td>Yes</td>
                            {% elif tasks.is_completed is False %}
                                <td>No</td>
                            {% endif %}
                            </tr>
                        {% empty %}
                            <p>This project has no tasks</p>
                        {% endfor %}
                    </tbody>
                    <table>
                    </div>
                </main>
{% endblock content %}